---
layout: default
title: Stephanie Rogers
description: A stunning personal website made by stogers
featured_image: /images/nz.jpg
---

<section class="blog single">

	<div class="wrap">

		{% for post in paginator.posts %}

		<article class="blog-post">

			<div class="blog-post__header">
				<h2 class="blog-post__title"><a href="/">{{ post.title }}</a></h2>
				<p class="blog-post__subtitle"> {{ post.excerpt }}</p>
			</div>

			<iframe width="560" height="315" src="https://www.youtube.com/embed/HmKbqWRedRc?controls=0&loop=1&autoplay=1&playlist=HmKbqWRedRc&mute=1" frameborder="0" allow="autoplay; loop; accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

			<div class="blog-post__content">
			</div>

		</article>

		{% endfor %}

	</div>

</section>

{% if paginator.total_pages > 1 %}

<section class="pagination">

	{% if paginator.previous_page %}
	<div class="pagination__prev">
		<a href="{{ paginator.previous_page_path | relative_url }}" class="button button--large"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
	</div>
	{% endif %}
	{% if paginator.next_page %}
	<div class="pagination__next">
		<a href="{{ paginator.next_page_path | relative_url }}" class="button button--large"><span>Older Posts</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
	</div>
	{% endif %}

</section>

{% endif %}